* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 0;

}



body {
  font-family: var(--font-secondary);
  background-color:var( --color-light-gray);
  color: #333;

}



























