@import url('https://fonts.googleapis.com/css2?family=Licorice&family=Inika&display=swap');
  :root {
    // Colors
    --color-dark-gray: #1E1E1E;
    --color-light-gray: #EFEFEF;
    --color-black: #111111;
    --color-deep-brown: #4F2919;
    --color-burnt-orange: #B46538;
    --color-warm-brown: #7A4C20;

    // Fonts
    --font-primary: 'Licorice', cursive;
    --font-secondary: 'Inika', serif;
  }
